<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Can Sophie Eat this?</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/bulma.css') }}">
</head>

<body class="has-background-primary-light">
  <h1 class="title is-1 m-5">
    Can Sophie Eat This?
  </h1>
  <div class="columns is-centered is-gapless">
    <div class="column is-6 has-background-primary">
      <section class="section">
        <h3 class="subtitle is-3">
         Find out what <strong>Sophie</strong> can eat!
        </h3>
        <form action="{{url_for('update')}}" method="POST">
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input class="input is-success " type="text" placeholder="Enter ingredient and amount here" name="search_query">
              {% if error %}
              <b>Oops! That food doesn't exist! Try again!</b>
              {% endif %}
            </div>
            <input class="button" type="submit" value="Submit input">
          </div>
        </form>
      </section>
    </div>

    <div class="column has-background-success">
      {% if search_query != ''%}
      <section class="section">
        {% if name in serving_unit %}
        <h1 class="title is-3 is-spaced">Sophie {{can_eat}} eat {{'{0:g}'.format(quantity|float)}} 
          {% if quantity|int > 1 %}
          {{name}}s!</h1> 
          {% else %}
          {{name}}!</h1> 
          {% endif %}
        {% elif serving_unit.endswith('berry') %}
        <h1 class="title is-3 is-spaced">Sophie {{can_eat}} eat {{'{0:g}'.format(quantity|float)}} 
           {% if quantity|int > 1 %}
          {{name}}s!</h1> 
          {% else %}
          {{name}}!</h1> 
          {% endif %}
        {% elif name not in serving_unit %}
        <h1 class="title is-3 is-spaced">Sophie {{can_eat}} eat {{'{0:g}'.format(quantity|float)}} {{serving_unit}} {{connecting_word}} 
          {{name}}!</h1> 
        {% endif %}

        {% if details == True and under_limit == False %}
          <div class="content">
          {{quantity|int}} {{serving_unit}}  has
            {% if t_fructose >= 1 %} 
              {{t_fructose|round(0)|int}} 
            {% elif t_fructose < 1 %} 
              {{t_fructose}} 
            {% endif %}
          grams of fructose and Sophie can have <i> roughly </i> 3 grams of fructose per meal. 
        </div>
        {% endif %}
        {% if f_serving_grams != 0.0 %}
        <h3 class="subtitle is-5"> <b>She can eat up to: </b> <br>
            {% if f_proportion <= 0.125 %} 1/8 
            {% elif f_proportion <=0.25 %} 1/4 
            {% elif f_proportion <=0.375 %} 3/8 
            {% elif f_proportion <=0.50 %} 1/2 
            {% elif f_proportion <=0.625 %} 5/8 
            {% elif f_proportion <=0.75 %} 3/4 
            {% elif f_proportion <=0.875 %} 7/8 
            {% elif f_proportion > 1 %} {{f_proportion|int|round(2)}}
            {% endif %} 

            {{serving_unit}} of
              {{name}}.
              <br> 
  </div>
  {% endif %}
  {% endif %} 
  </div>
  </div>
</body>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Will She Poop?</strong> by Alex Rosenblatt
    </p>
  </div>
</footer>
</html>
